.problems {
  margin: 100px auto 0 auto;
  max-width: 1100px;

  .problem {
    &Title {
      text-align: center;
    }
    &Rank {
      margin-bottom: 2rem;
      &Title {
        display: flex;
        align-items: flex-end;
      }
      &Link {
        margin-left: 0.5rem;
        font-weight: 300;
        color: $primary-violet;
        margin-bottom: 2px; // Allign to title
      }
    }
    &Description {
      margin-bottom: 2rem;
    }
    &Idea {
      margin-bottom: 2rem;
    }
    &Consequences {
      margin-bottom: 2rem;
    }
    &Solutions {
      margin-bottom: 2rem;
    }
    &References {
      margin-bottom: 2rem;
    }
  }
}
