.problem {
  &Block {
    padding: 10px 0;
    margin: 20px 0;

    a {
      color: $primary-green;
    }

    &Rank {
      display: flex;
      align-items: center;

      a {
        margin-left: 10px;
      }
    }
  }

  &Tags {
    display: flex;
    flex-wrap: wrap;
    &Tag {
      margin: 5px;
      background-color: lightblue;
      padding: 2.5px 10px;
      border-radius: 15px;
    }
  }
}
