.problemBackground {
  background-color: royalblue;
  display: flex;
  align-items: center;
}

.problemHeader {
  margin-top: 160px;

  &Title {
    font-size: 3rem;
    display: inline;
    padding: 10px;
    background-color: #fff;
  }
}

.problemRank,
.problemDescription,
.problemIdea,
.problemConsequences,
.problemSolutions,
.problemReferences,
.problemDonations {
  margin-bottom: 2rem;
  background-color: #fff;
  padding: 10px;
}

.problemRank {
  &Wrapper {
    display: flex;
    align-items: center;
  }
}
// }
// }
