.bannerSuccess,
.bannerInfo,
.bannerWarning,
.bannerDanger {
  padding: 10px;
  text-align: center;
}

.bannerSuccess {
  background-color: $green-background;
  color: $green-text;
}

.bannerInfo {
  background-color: $blue-background;
  color: $blue-text;
}

.bannerWarning {
  background-color: $yellow-background;
  color: $yellow-text;
}

.bannerDanger {
  background-color: $red-background;
  color: $red-text;
}
