.categoriesBar {
  padding-top: 65px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  max-width: 850px;
  margin: 0 auto;

  &Container {
    background-color: #222;
  }

  &Element {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
    padding: 5px;
    border-radius: 5px;
    width: 90px;
    p {
      margin: 0;
      transition: all 0.3s;
    }
    &:hover {
      color: $primary-green;
      background-color: $primary-green;
      color: #fff;
    }
  }
}
