.header {
  margin-bottom: 60px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  border-bottom: 1px solid #f1f1f1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: #fff;

  &Logo {
    max-height: 60px;
    line-height: 0;

    &Image {
      transition: 2s ease-in-out;
      &:hover {
        transform: rotate(360deg);
      }
    }
  }

  &Menu {
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
    &Link {
      margin: 0 20px;
      color: $text-color-dark;
      transition: all 0.3s;

      &:hover {
        color: $primary-violet;
      }
    }
  }

  &Button {
    border: none;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: $primary-violet;
    color: $text-color-light;
    line-height: 0;

    &:hover {
      cursor: pointer;
    }
  }
}
