.navbarContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  margin-bottom: 50px;
}

.navbar {
  background-color: rgb(31, 41, 51);

  &Banner {
    text-align: center;
    color: $text-light;
    background-color: rgb(15, 16, 18);
    padding: 5px 0;

    span {
      font-size: 18px;
    }

    .navbarUkraineLink {
      margin-left: 15px;
      color: $primary-green;
      font-size: 18px;
    }
  }

  &Wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12.5px 20px;
    max-width: 1300px;
    margin: 0 auto;
  }

  &Logo {
    display: flex;
    align-items: center;
    line-height: 0;
    span {
      margin-left: 10px;
    }
    &Image {
      display: block;
      transition: 2s ease-in-out;
      &:hover {
        transform: rotate(360deg);
      }
    }
  }

  &Menu {
    display: inline-flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    &Link {
      font-size: 18px;
      margin: 0 30px;
      transition: all 0.3s;
      color: $text-light;
      &:hover {
        color: $primary-blue;
      }
    }
  }
}
