.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px 5px 30px;
  border-bottom: 2px solid #f7f7f7;

  &Logo {
    display: block;
  }

  &Menu {
    display: inline-flex;
    list-style: none;
    &Link {
      margin: 0 20px;
      color: $text-color-dark;
      transition: all 0.3s;

      &:hover {
        color: $primary-violet;
      }
    }
  }

  &Button {
    border: none;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: $primary-violet;
    color: $text-color-light;
  }
}
