* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  max-width: 900px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  padding-top: 100px;
  min-height: 100vh;
  @media only screen and (max-width: 525px) {
    padding-top: 80px;
  }
}

.active-link {
  a {
    color: $primary-blue;
  }
}
