.categoriesBackground {
  background-color: royalblue;
  display: flex;
  align-items: center;
}

.categoriesHeader {
  margin-top: 160px;

  &Title,
  &Paragraph {
    padding: 10px;
    background-color: #fff;
  }

  &Title {
    font-size: 3rem;
    display: inline;
  }

  &Paragraph {
    font-size: 1.2rem;
    background-color: #fff;
  }
}

.categories {
  margin-top: 80px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .category {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 15px;
    background-color: #fff;

    &Title {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-color: black;
      color: #fff;
      padding: 5px 10px;
    }

    &Description {
      margin: 0;
      padding: 10px;
      height: 220px;
      overflow: hidden;
    }
  }
}

.problemsBackground {
  background-color: royalblue;
  display: flex;
  align-items: center;
}

.problemsHeader {
  margin-top: 160px;

  &Title,
  &Paragraph {
    padding: 10px;
    background-color: #fff;
  }

  &Title {
    font-size: 3rem;
    display: inline;
  }

  &Paragraph {
    font-size: 1.2rem;
    background-color: #fff;
  }
}

.problems {
  margin-top: 80px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .problem {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 15px;
    background-color: #fff;

    &Title {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-color: black;
      color: #fff;
      padding: 5px 10px;
    }

    &Description {
      margin: 0;
      padding: 10px;
      height: 220px;
      overflow: hidden;
    }
  }
}

.problemsComments {
  margin-top: 50px;
}
