// Categories
.categories {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .category {
    max-width: 380px;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    transition: all 0.3s;
    border: 1px solid #f7f7f7;
    box-shadow: 5px 5px 15px #f7f7f7;

    &:hover {
      box-shadow: 5px 5px 15px #f1f1f1;
      transform: translateY(-5px);
    }

    &Icon {
      width: 60px;
      height: 60px;
    }

    &Title {
      color: $text-dark;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    &Description {
      margin: 0;
      height: 100%;
      max-height: 200px;
      overflow: hidden;
    }
  }
}

// Problems
.problems {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .problem {
    max-width: 380px;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    transition: all 0.3s;
    border: 1px solid #f7f7f7;
    box-shadow: 5px 5px 15px #f7f7f7;

    &:hover {
      box-shadow: 5px 5px 30px #f3f3f3;
      transform: translateY(-5px);
    }

    &Title {
      color: $text-dark;
      font-size: 1.5rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    &Description {
      margin: 0;
      height: 100%;
      max-height: 200px;
      overflow: hidden;
    }

    &Tags {
      display: flex;
      flex-wrap: wrap;
      &Tag {
        margin: 5px;
        background-color: lightblue;
        padding: 2.5px 10px;
        border-radius: 15px;
      }
    }
  }
}

.comments {
  margin-top: 50px;
}
