.rankOne,
.rankTwo,
.rankThree,
.rankFour,
.rankFive {
  display: inline-block;
  padding: 2.5px 15px;
  border: 1px solid transparent;
  border-radius: 20px;
  color: $text-light;
}

.rankOne {
  background-color: $primary-orange;
}

.rankTwo {
  background-color: $primary-green;
}

.rankThree {
  background-color: $primary-blue;
}

.rankFour {
  background-color: $primary-indigo;
}

.rankFive {
  background-color: $primary-purple;
}
