.heading {
  margin-top: 50px;
  &Wrapper {
    display: flex;
    justify-items: center;
    align-items: center;
  }
  &Icon {
    width: 60px;
    height: 60px;
    margin-left: 15px;
  }
  &Title,
  &Paragraph {
    background-color: $text-light;
  }
  &Title {
    display: inline;
    font-size: 2.5rem;
  }
  &Paragraph {
    font-size: 1.1rem;
  }
}
