.heading {
  &Wrapper {
    width: 100%;
    display: flex;
    justify-items: flex-start;
    align-items: center;
  }
  &Title {
    font-size: 2.2rem;
  }
  &SubTitle {
    font-size: 1.4rem;
  }
  &Paragraph {
    font-size: 1.1rem;
  }
}
