.heading {
  &Wrapper {
    width: 100%;
    display: flex;
    justify-items: flex-start;
    align-items: center;
  }
  &Title {
    font-size: 50px;
    font-weight: 300;
  }
  &SubTitle {
    font-size: 30px;
    font-weight: 300;
  }
  &Paragraph {
    font-size: 20px;
    font-weight: 300;
  }
}
