.homeHeader {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;

  .homeHeaderText {
    max-width: 600px;
    margin-left: 50px;
    .homeHeaderTitle,
    .homeHeaderParagraph {
      padding: 10px;
      color: $text-dark;
      background-color: rgba($text-light, 0.85);
    }
    .homeHeaderTitle {
      display: inline;
      font-size: 2rem;
    }
    .homeHeaderParagraph {
      font-size: 1.1rem;
    }
  }
}

.homeSection {
  max-width: 950px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  padding-top: 50px;
  min-height: 100vh;
  a {
    color: $primary-green;
  }

  .homeDescription {
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: 950px;
  }

  .homeInfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    &Column {
      max-width: 340px;
    }
  }
}

@media screen and (max-width: 525px) {
  .homeHeader {
    &Heading {
      &Title {
        font-size: 2rem;
      }
    }
  }
  .homeSection {
    .homeInfo {
      flex-direction: column;
      &Column {
        max-width: 340px;
      }
    }
  }
}
