.header {
  display: block;
  &Container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
  }
}

.navbar {
  background-color: rgb(31, 41, 51);
  &Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    max-width: 1300px;
    margin: 0 auto;
    @media only screen and (max-width: 525px) {
      padding: 7.5px 20px;
    }
  }
  &Logo {
    display: flex;
    align-items: center;
    line-height: 0;
    &Image {
      display: block;
      transition: 2s ease-in-out;
      &:hover {
        transform: rotate(360deg);
      }
    }
  }
  &Menu {
    display: inline-flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    &Link {
      font-size: 1rem;
      margin: 0 30px;
      transition: all 0.3s;
      color: $text-light;
      &:hover {
        color: $primary-purple;
      }
    }
  }
}
@media only screen and (max-width: 525px) {
  .navbar {
    flex-direction: column;
    &Menu {
      &Link {
        margin: 0 7.5px;
      }
    }
  }
}
