.header {
  display: block;
  &Container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
  }
}

.navbar {
  background-color: #000;
  &Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    max-width: 1300px;
    margin: 0 auto;
  }
  &Logo {
    display: flex;
    align-items: center;
    line-height: 0;
    height: 40px;
  }
  &Menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    &Link,
    &Social {
      margin-right: 40px;
      transition: all 0.3s;
      color: $text-light;
      &:hover {
        color: $primary-blue;
      }
    }
    &Link {
      font-size: 1rem;
    }
    &Social {
      font-size: 1.2rem;
    }
  }
}
