.navbar {
  background-color: rgba(255, 255, 255, 0.5);
  &Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    max-width: 1300px;
    margin: 0 auto;
  }
  &Logo {
    display: flex;
    align-items: center;
    line-height: 0;
    height: 40px;
  }
  &Menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    &Link,
    &Social {
      margin-right: 40px;
      transition: all 0.3s;
      color: $text-dark;
      &:hover {
        color: $primary-indigo;
      }
    }
    &Link {
      font-size: 16px;
    }
    &Social {
      font-size: 20px;
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 40px;
  cursor: pointer;

  .dropdownContent {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    min-width: 150px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  &:hover {
    .dropdownContent {
      display: block;
    }
  }

  .categoryEl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s;
    padding: 7.5px 15px;
    p {
      color: $text-dark;
      margin: 0;
    }

    &:hover p {
      color: $primary-indigo;
    }
  }
}
