.footer {
  margin-top: 50px;
  background-color: rgb(31, 41, 51);
  color: rgb(151, 158, 170);

  &Upper {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(55, 65, 81);

    &Item {
      padding: 25px 0;
      h4 {
        text-transform: uppercase;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }
  }

  &Form {
    display: flex;
    align-items: center;
    margin-top: 20px;

    &Email {
      border: none;
      padding: 10px 10px;
      border-radius: 5px;
      width: 250px;
    }

    &Submit {
      border: none;
      display: block;
      padding: 10px 20px;
      border-radius: 5px;
      background-color: $primary-green;
      color: $text-light;
      margin-left: 10px;
    }
  }

  &Lower {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    max-width: 1300px;
    margin: 0 auto;
    &Copyright {
      text-transform: uppercase;
    }

    &Socials {
      display: flex;
      span {
        font-size: 20px;
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }
}
