.footer {
  margin-top: 50px;
  background-color: rgb(31, 41, 51);
  color: rgb(151, 158, 170);

  &Upper {
    display: flex;
    justify-content: flex-start;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    border-bottom: 1px solid rgb(55, 65, 81);

    @media only screen and (max-width: 991px) {
      flex-direction: column;
    }

    &Item {
      padding: 25px 0;
      margin-right: 250px;
      a {
        transition: all 0.3s;
        &:hover {
          color: $primary-purple;
        }
      }
      h4 {
        text-transform: uppercase;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }
  }

  &Lower {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: 1300px;
    margin: 0 auto;
    &Copyright {
      text-transform: uppercase;
    }

    &Socials {
      display: flex;
      a {
        font-size: 1.5rem;
        transition: all 0.3s;
        &:not(:last-child) {
          margin-right: 20px;
        }
        &:hover {
          color: $primary-purple;
        }
      }
    }
  }
}

@media screen and (max-width: 525px) {
  .footer {
    &Upper {
      flex-direction: column;
    }
    &Lower {
      flex-direction: column;
    }
  }
}
