.heading {
  margin-top: 150px;

  &Title,
  &Paragraph {
    padding: 10px;
    border-left: 2px solid $primary-blue;
    background-color: $text-light;
  }

  &Title {
    font-size: 2.5rem;
    display: inline;
  }

  &Paragraph {
    font-size: 1.2rem;
  }
}
