.heading {
  margin-top: 160px;

  &Title,
  &Paragraph {
    padding: 10px;
    background-color: #fff;
    border: 2px solid royalblue;
  }

  &Title {
    font-size: 3rem;
    display: inline;
  }

  &Paragraph {
    font-size: 1.2rem;
    background-color: #fff;
  }
}
