.heading {
  margin-top: 150px;

  &Icon {
    width: 35px;
    height: 35px;
  }

  &Title,
  &Paragraph {
    padding: 10px;
    background-color: $text-light;
  }

  &Title {
    font-size: 2.5rem;
    display: inline;
  }

  &Paragraph {
    font-size: 1.2rem;
  }
}
