html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #111;
  color: #f2f2f2;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.problem-card {
  border: 1px solid royalblue;
}
