.banner {
  text-align: center;
  color: $text-light;
  background-color: rgb(19, 31, 42);
  padding: 5px 0;

  span {
    font-size: 1rem;
  }

  &Link {
    margin-left: 15px;
    color: $primary-green;
    font-size: 1rem;
  }
}
