.issue {
  &Block {
    padding: 10px 0;
    margin: 20px 0;

    a {
      color: $primary-green;
    }
  }

  &Tags {
    display: flex;
    flex-wrap: wrap;
    &Tag {
      margin: 5px;
      background-color: lightblue;
      padding: 2.5px 10px;
      border-radius: 15px;
    }
  }
}

.timeToRead {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;

  svg {
    margin-bottom: 1px;
  }

  span {
    margin-left: 5px;
  }
}
